python-magic
http://pefile.googlecode.com/files/pefile-1.2.10-139.tar.gz#egg=pefile
PrettyTable
pydeep
requests
SQLAlchemy
pycrypto
OleFileIO_PL
olefile
oletools
BeautifulSoup4
bottle
pylzma
pyelftools
bitstring
dnspython
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
pyasn1
git+https://gitlab.com/m2crypto/m2crypto.git
pymisp
django
pypssl
pypdns
scandir
git+https://github.com/crackinglandia/pype32.git
pbkdf2
